In [76]:
import pandas as pd
from pandas import DataFrame
from datetime import datetime
import numpy as np

In [77]:
df = pd.DataFrame(np.random.rand(10, 5), columns=['A', 'B', 'C', 'D', 'E'])
df.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
dtype: object

In [78]:
df

          A         B         C         D         E
0  0.669344  0.582414  0.430616  0.849721  0.164726
1  0.330125  0.687076  0.740240  0.290001  0.700125
2  0.685262  0.828853  0.234928  0.420239  0.263685
3  0.465975  0.432580  0.444025  0.200193  0.526046
4  0.867196  0.220612  0.398085  0.674462  0.987197
5  0.283524  0.913829  0.255381  0.809313  0.466126
6  0.576684  0.350760  0.985775  0.028920  0.787144
7  0.774110  0.618613  0.963603  0.884309  0.219533
8  0.675605  0.345910  0.911114  0.024977  0.608729
9  0.001728  0.092310  0.776584  0.200132  0.702138

In [79]:
df = df.set_index('E')

In [80]:
df.index.tolist()

[0.16472583418525921,
 0.70012481823549999,
 0.26368520128736861,
 0.52604562834325908,
 0.98719662954418674,
 0.46612637026272241,
 0.78714446866726406,
 0.21953309556566791,
 0.60872878712582001,
 0.70213828030105474]

In [81]:
t = DataFrame({'dummy': [1, 2]})

In [82]:
s = DataFrame({'dat1': [9,5,6,7,8,9]})

In [83]:
t = t.append(s)